<div class="slds-form-element" ng-class="{'slds-is-required slds-has-error': NodeForm.internalExtension.$error.required}">
    <label class="slds-form-element__label" for="internalExtension">Destination Name</label>
    <div class="slds-form-element__control">
        <input id="internalExtension" name="internalExtension" class="slds-input" type="text" placeholder=""
               ng-model="node.data.variables.internalExtension" aria-describedby="errorName" required="" result-set-name>
    </div>
</div>

